<html lang="en"><head>
	<meta charset="utf-8">
	<title>Maya - Desenvolvimento de Sistemas, Sites e Aplicativos Mobile.</title>
	<link rel="stylesheet" href="/assets/css/app.css">
	<style>
		#ms {display: none !important}
		.dg.main.a {display: none !important}	
		.logo {
	width:400px;
	height:450px;
	position:absolute;
	top:30%;
	left:40%;
	margin-top:-50px;
	margin-left:-50px;}
		.dados {position: absolute; left: 50%; top: 40%; margin: 137px 0 0 -202px; background-color: #000; opacity: 0.85; padding: 20px}
	</style>
<style type="text/css">
</style></head>
<body cz-shortcut-listen="true">