<div id="loading" style="display: none;">
    <div class="spinner">
      <div class="rect1"></div>
      <div class="rect2"></div>
      <div class="rect3"></div>
      <div class="rect4"></div>
      <div class="rect5"></div>
    </div>
  </div>

<div style="max-width: 100%;">
  <img src="assets/img/h1.png" alt="" class="logo">
</div>

  <a href="#" class="icon faa-float animated scroll-to">teste<i class="fa fa-angle-double-down"></i></a>
  

  <div id="canvas-container">
    
  </div>


  <script async="" src="//www.google-analytics.com/analytics.js"></script><script type="x-shader/x-vertex" id="vertexshader-axon">


    uniform float opacityMultiplier;

    attribute float opacityAttr;
    
    varying float opacityNew;

    void main() {

      opacityNew = opacityAttr * opacityMultiplier;

      gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0 );

    }

  </script>

  <script type="x-shader/x-fragment" id="fragmentshader-axon">

    uniform vec3 color;

    varying float opacityNew;
    
    void main() {
      gl_FragColor = vec4(color, opacityNew);
    }

  </script>


  <script src="/assets/js/vendor/Detector.js"></script>
  <script src="/assets/js/vendor/dat.gui.min.js"></script>
  <script src="/assets/js/vendor/stats.min.js"></script>
  <script src="/assets/js/vendor/three.min.js"></script>
  <script src="/assets/js/vendor/OrbitControls.js"></script>
  <script src="/assets/js/vendor/OBJLoader.js"></script>
  
  <script src="/assets/js/three-app.js"></script>



